.hero-section {
    min-height: 0px;
}
.hd {
    padding: 0 0 0 0;
    margin-top: 0;
}

.onward-return-tab {
    background-color:#F0E68C;
    color:black;
}
.enable {
    background-color:#FDDA0D;
}
.disable{
    pointer-events:none;
  }
.container-fluid{
    margin: 0px !important;
}
.switch-nav{
    padding-left:2em;
    padding-top: 1em;
    padding-bottom: 0.9em;
}