.container-fluid {
    padding: 1rem;
    color: white;



    .container {
        .row {
            min-height: 100px;
            .col {
                text-align: left;

                small {
                    font-size: small;
                    color: white !important;
                }
            }
        }


    }
}

.top {
    background-color: #0e6ba8;

    li {
        cursor: pointer;
    }

    .icons {
        display: flex;
        gap: 1rem;


        .icon {
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}

.bottom {
    background-color: #0a2472;
    
}