<div class="hero-section section pt-0">
    <div class="container pt-5">
    <app-header></app-header>
 
    </div>
   
  </div>

  <div class="about-section section container">
    <div class="row">
        <h2>Privacy Policy</h2>
      <div class="col-12 col-lg-12">
        <h4>What does this privacy policy covers?</h4>
        <p>This Privacy Policy covers our treatment of personally identifiable information (“Personal Information”) that we gather when you are accessing or using our Services. This policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.</p>
      </div>
      

      <div class="col-12 col-lg-12">
        <h4>What personal information do we collect?</h4>
        <p>
            We would like you to understand that the information collected via the gateGuard app or website is to help us provide you with great service.

            The information gateGuard collects, and how that information is used, depends on how you use our services and how you manage your privacy controls. For e.g. for standard gateGuard services, only your flat details along with name and number will be needed. However, if your society chooses to use advanced features like Accounts and payments, additional information may be needed to render services. All the personally identifiable information is treated as sensitive information by us and you will have full control over this data.

            Information collected on the gateGuard app and website:

            Residents: Name, Email address, Mobile number, your apartment/villa number, vehicle number (if any).

            Guests: Name, Phone and resident flat to be visited. No other guest information is required on gateGuard App for entry at gate.

            Service Providers to Society/Individual Homes: The name, phone number, resident flat to be visited (if any), vehicle number (if any), entry/exit time, visit purpose and photograph. For security reasons, some personally identifiable information of service providers including delivery executives is taken at the gate as per appropriate local laws.

            Additional information: IP address, web pages visited, browser, device and operating system information, mobile network information, the date, time, and referrer URL of your request.
        </p>
      </div>

      <div class="col-12 col-lg-12">
        <h4>How do we protect your information?</h4>
        <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.

            We use regular Malware Scanning.
            
            Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
            
            All transactions are processed through a gateway provider and are not stored or processed on our servers.
            
            Login password, if set, is always one way encrypted to prevent unauthorized access</p>
      </div>

      <div class="col-12 col-lg-12">
        <h4>Do we use ‘cookies’?</h4>
        <p>
            Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
            We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
        </p>
      </div>

      <div class="col-12 col-lg-12">
        <h4>Third-party disclosure</h4>
        <p>
            We don’t sell or trade user information in any form to anyone. The information is used solely for the purpose of enabling services and making your experience better on gateGuard platforms. On a case to case basis we give you great value add from third party partners where information will be shared after your explicit consent.
gateGuard’s services are an extension of the services offered by the Resident Welfare Association (RWA) (being our direct customer) of the premises. The RWA members will have access to all the information collected for their society on gateGuard’s for recording and security purposes. In case any of the RWA members access any of resident data, gateGuard’s will transparently convey the same to the user along with the reason for access of the information.
        </p>
      </div>

      <div class="col-12 col-lg-12">
        <h4>Third-party links</h4>
        <p>
            Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
        </p>
      </div>

      <div class="col-12 col-lg-12">
        <h4>Date Retention & Deletion</h4>
        <span>
            The information collected on our platforms is retained for different periods of time depending on what the information is and how it is used and how you configure your settings.

Users can request to export a copy of their information or delete it from your gateGuard account at any given point of time (some information deletion may be subject to RWA approval, gateGuard will facilitate the approval process):

<ol>
    <li>All the visitors’ information is retained for a specific period of time (period beyond which the data is deemed not to be reasonably necessary for operation or by law) and this interval will be as per the discretion of the societies’ RWA. gateGuard will delete all visitors’ information from its systems after 180 days by default. The RWA will have the option to reset this to 60 days, 120 days or 180 days, but no longer. Once deleted, even gateGuard will not be able to restore past data.
    </li>
    <li>We keep some data until your estate is live on gateGuard and all such information is deleted if your estate is no longer activated on our platform.
    </li>
    <li>In case you have left a society on gateGuard, you can delete all your details on our App and uninstall our app
    </li>
    <li>However, some data we may retain for longer period of time when necessary for legal purposes, such as security, fraud or financial record keeping.
    </li>
</ol>

When you delete data or request for deletion of data, we follow a process to make sure that all your data is safely and completely removed from all our servers. We also ensure that none of your information is subject to accidental or malicious deletion.This may lead to some delay between actual requests made and final deletion as we ensure that information deletion is genuine and not accidental from our active and backup systems. Any request to DPO will be replied within 7 days and actioned within 30 days subject to approvals from the RWA and not including the time taken by them in approvals.
        </span>
      </div>

      <div class="col-12 col-lg-12">
        <h4>CAN SPAM Act</h4>
        <span>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</span>
        <br>
        <span style="font-weight:700;">We collect your email address in order to:</span>
        <ol>
            <li>Send information, respond to inquiries, and/or other requests or questions.</li>
            <li>Process orders and to send information and updates pertaining to orders.</li>
            <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
        </ol>
        <span style="font-weight:700;">To be in accordance with CANSPAM, we agree to the following:
        </span>
        <ol>
            <li>Not use false or misleading subjects or email addresses.</li>
            <li>Identify the message as an advertisement in some reasonable way.</li>
            <li>Include the physical address of our business or site headquarters.</li>
            <li>Monitor third-party email marketing services for compliance, if one is used.</li>
            <li>Honor opt-out/unsubscribe requests quickly.</li>
            <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
        </ol>
      </div>
      
    </div>


  </div>