<app-header></app-header>
<div class="hero-section section pt-0">
    <div class="container pt-5">
 
    </div>
   
  </div>

<div class="blog-section section container">
    <div class="row">
        <div class="col-sm-8 offset-lg-2">
            <h4 >Contact Us</h4>
            <div class="row"> 
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-sm-12">
                          <mat-form-field appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput placeholder="Name">
                          </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                          <mat-form-field appearance="outline">
                              <mat-label>Country Code</mat-label>
                              <input matInput placeholder="Contry Code">
                          </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                          <mat-form-field appearance="outline">
                              <mat-label>Phone </mat-label>
                              <input matInput placeholder="Phone">
                          </mat-form-field>
                      </div>
                      <div class="col-sm-12">
                          <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput placeholder="Email">
                          </mat-form-field>
                      </div>
                      <div class="col-sm-12">
                          <mat-form-field appearance="outline">
                              <mat-label>Subject</mat-label>
                              <input matInput placeholder="Subject">
                          </mat-form-field>
                      </div>
      
                      <div class="col-sm-12">
                          <mat-form-field appearance="outline">
                              <mat-label>Message</mat-label>
                              <textarea matInput placeholder="Message"></textarea>
                          </mat-form-field>
                      </div>
                      <div class="col-sm-12">
                          <button class="btn btn-success"> Send Message</button>
                      </div>
      
                  </div>
              </div>
      
              <div class="col-sm-6">
                <h4>Head Office</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <ul style="list-style: none;">
                            <li>KidiaOneExpress.</li>
                            <li>Tanzania,Kenya</li>
                            <li>Email Us : <b>info@kidiaoneexpress.com</b> </li>
                            <li>Head Office: <b>(+255) 784377027/(+255) 693440568</b> </li>
                            <li>Shekilango: <b>(+255) 757575740</b></li>
                            <li>Basihaya: <b>(+255) 748700005</b></li>
                            <li>Kariakoo: <b>(+255) 747000019</b></li>
                            <li>Moshi: <b>(+255) 744636365</b></li>
                            <li>Arusha: <b>(+255) 757575786</b></li>
                            <li>Dodoma: <b>(+255) 762232323</b></li>
                            <li>Mwanza: <b>(+255) 42228383</b></li>
                        </ul>
                      
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
   
    
  </div>
  <app-footer></app-footer>