<app-header></app-header>
<div class="hero-section section pt-0">
    <div class="container pt-5">
 
    </div>
   
  </div>

  <div class="about-section section container">
    <div class="row">
      <div class="col-12 col-lg-12 mb-3 mb-lg-0">
        <p class="display-5 fw-normal">About Transline</p>
        <p>
          Transline Classic is a PSV and Courier Service company dedicated to delivering timely and efficient services to our esteemed Customers. We offer a comfortable, safe and cool travel experience for our clients and timely delivery of the clients' consignments.
        </p>
       
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>